.App {
  text-align: center;
}

.welcome-screen-flexbox-container{
  text-align: center;
  width: 100%;
}

.welcome-screen-flexbox-left{
  width:60%;
  text-align: center;
}

#welcome-screen-logo{
  margin-bottom: -20px;
  margin-top: -30px;
}

.welcome-screen-flexbox-right{
  width:40%;
}

#welcome-screen-image{
  width:100%;
  height:100%;
}

.login-form-container{
  text-align: center;
}

#welcome-screen-create-link{
  margin-top: 30px;
}

#login-form-button{
  margin-top: 20px;
}

.footer{
  text-align: center;
  margin-top: 100px;
}

#footer-issues{
  padding-bottom: 5px;
}

.sign-up-form{
  text-align: center;
}

.home-screen{
  text-align: center;
}

.home-screen-header{
  display: flex;
  justify-content: center;
  width:100%;
}


#home-screen-header-logo{
width:180px;
}
.home-screen-header-left{
  width: 50%;
  text-align: left;
  margin-left: 10px;
  margin-top: -20px;
}
.home-screen-header-right{
  width: 50%;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

.home-screen-middle-flexbox{
  display:flex;
}

.home-screen-middle-flexbox-left{
  width:50%;
}

.home-screen-middle-flexbox-right{
  width:50%;
}

.home-screen-tool-btn{
  width: 200px;
  
}
